* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: gray;
}

.color-pick__input{
    height: 50px;
    padding: 8px;
}
.generator__title{
    font-size: 25px;
    margin-bottom: 50px;
}

.generator__title, .generator__color-pick{
    text-align: center;
}

.generator{
    font-family: 'Quicksand', sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff;

    border-radius: 10px;
    padding: 20px;
    width: 60%;
    box-shadow:0px 0px 18px 5px rgba(0, 0, 0, 0.22);
    height: 45%;
}
.generator__style{
    font-family: 'Source Code Pro', monospace;
    padding-top: 15px;
}

